body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.yaf-red {
    color: #a90329;
}

.btn-success {
    background-color: #6d0019;
    background-image: -moz-linear-gradient(top, #a90329, #6d0019);
    background-image: -ms-linear-gradient(top, #a90329, #6d0019);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a90329), to(#6d0019));
    background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
    background-image: -o-linear-gradient(top, #a90329, #6d0019);
    background-image: linear-gradient(top, #a90329, #6d0019);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #6d0019;
}

div.container a.brand {
    background: url("../images/site-logo.png") no-repeat scroll 0 5px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
